body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1477332552946-cfb384aeaf1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cnVubmluZ3xlbnwwfDB8MHx8&auto=format&fit=crop&w=700&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-size: 1.75rem;
    font-weight: 800;
}

.clock {
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    height: 80px;
    width: 100px;
    background-color: #82CD47;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .75;
    border-radius: 5px 5px 0 0;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .65);
}

.clock .text{
    height: 30px;;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: #379237;
    opacity: .75;
    letter-spacing: 2px;
    border-radius: 0 0 5px 5px;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    border-radius: 5px;
    font-size: .8rem;
    height: 30px;
    width: 50px;
    background-color: #001253;
    opacity: .70;
}